@charset "UTF-8";
/* CSS Document */

/* =Portfolio */
.slide {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slide li {
    margin: 0 0 10px 0;
    padding: 0;
	list-style-type: none;
}

.slide img {
    width: 450px;
}

.js .sexySlide-container {
    clear: both;
    position: relative;
    padding-top: 15px;
	width: 470px;
}

.js .sexySlide-outer {
    position: relative;
    height: 575px;
    width: 450px;
    overflow: hidden;
    margin-left: 10px;
}

.js .slide {
    position: absolute;
    height: 600px;
    top: 0;
    left: -450px;
    width: 3000px;
}

.js .slide li {
    width: 450px;
    float: left;
    z-index: 10;
}

.js .slide img {
    width: 450px;
    border: none;
    margin-top: 10px;
}

.js .sexySlide-box {
    position: absolute;
    border: 10px solid #DFDDD9;
    width: 450px;
    height: 252px;
    left: 0;
    top: 15px;
    padding: 0;
}

.js .sexySlide-container .sexySlide-links {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 406px;
      z-index: 10000;
}

.js.home .sexySlide-container {
      height: 270px;
}

.js.home .sexySlide-outer {
    height: 275px;
}

.js.home .slide {
    height: 270px;
}

.js.home .sexySlide-container .sexySlide-links {
      height: 270px;
}

.js .sexySlide-container .lnk-next, .js .sexySlide-container .lnk-prev {
    position: absolute;
    top: 120px;
    width: 62px;
    height: 48px;
    z-index: 10001;
    text-indent: -9000px;
    overflow: hidden;
}

.js .sexySlide-container .lnk-next {
    right: 10px;
    background: url('sexyArrows.png') no-repeat 0 -100px;
}

.js .sexySlide-container .lnk-prev {
    left: 10px;
    background: url('sexyArrows.png') no-repeat 0 0;
}

.sexySlide-thumbs {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sexySlide-thumbs li {
	margin: 0;
	padding: 0;
	text-indent: -9000px;
}

.sexySlide-thumbs img {
	width: 100px;
	text-indent: -9000px;
}


@media only screen 
and (min-width : 900px) {

.js .sexySlide-box, .js .slide img, .js .sexySlide-outer, .js .slide li {
	width: 750px;
}

.js .slide {
    left: -750px;
}

.js .sexySlide-container {
	width: 770px;
}

}